/* CSS Document */
html,body{margin:0px; padding:0px; font-family:'微软雅黑'; background-color:#fff;}
/*网站头部*/
.inner_content {width: 1280px; margin: 0 auto; overflow:hidden;}
.headers_content {z-index: 1000; width: 100%; height: 85px; border-bottom:1px solid #7896b7;}
.headers_content h1 {float: left; width: 600px; height: 85px; margin-top: 20px;}
.headers_content .nav {float: left; list-style-type: none;}
.headers_content .nav li {float: left; margin-left: 5px;}
.headers_content .nav a { display:inline; float: left; padding: 10px 20px; line-height: 64px; color: #7896b7; text-decoration: none; font-family:"微软雅黑"; font-size:18px;}
.headers_content .nav a:hover { height: 64px; border-bottom: 2px solid #7896b7;}
/*banner*/
.banners{width:100%; height:auto; overflow:hidden;}
.banners img{ width:100%; height:100%;}
/*面包靴导航*/
.w_nav{width:100%; height:80px; border-bottom:1px solid #eee;}
.w_nav_content{width:1280px; height:auto; margin:0 auto; line-height:80px;}
.w_nav_content span{ font-size:24px;}
/*分隔栏*/
#bottom1 {background: #0775c2;width: 100%;height: 126px;transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;-webkit-transition: all 0.5s; margin-top:20px;}
#bottom1 .center {width: 1100px; height: 126px; margin: 0 auto; position: relative;}
#bottom1 .center .a1 {position: absolute; top: 24px; left: 0px; width: 345px; height: 78px; overflow: hidden; padding-left: 38px; border-right: 1px solid #3991D0; background:url(../images/a1.jpg) top left no-repeat;}
#bottom1 .center .a1 .b1 {padding-top: 8px;display: block;height: 32px;line-height: 32px;overflow: hidden;font-size: 14px;color: #ffffff;}
#bottom1 .center .a1 .b2 {display: block;height: 32px;line-height: 32px;overflow: hidden;font-size: 20px;color: #ffffff;font-weight: bold;}
#bottom1 .center .a2 {position: absolute; top: 24px; left: 418px; width: 448px; height: 78px; overflow: hidden; padding-left: 27px; border-right: 1px solid #3991D0; background: url(../images/a2.jpg) top left no-repeat;}
#bottom1 .center .a2 .b1 {padding-top: 8px;display: block;height: 64px;line-height: 32px;overflow: hidden;font-size: 14px;color: #ffffff;}
#bottom1 .center .a3 {position: absolute;top: 37px;right: 0px; transition: all 0.5s;-moz-transition: all 0.5s;-o-transition: all 0.5s;-webkit-transition: all 0.5s; cursor:pointer}
.animated { -webkit-box-shadow: #666 0px 0px 10px; -moz-box-shadow: #666 0px 0px 10px; box-shadow: #666 0px 0px 10px; transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;-webkit-transition: all 1s; }
/*底部*/
.footers{width:1280px; margin-top:50px;}
.footers_nav{width:1280px; height:auto; margin:0 auto; text-align:center;}
.footers_nav a{ padding-left:20px; color:#000;}
.footers_nav p{ margin-top:20px; color:#000;}



