/* CSS Document */
/*通用样式*/
html,body{margin:0px; padding:0px; font-family:'微软雅黑'; background-color:#111111;}
table {margin:0px;}
th,td {line-height:180%; text-align:left;}
img {border:0px;}
dl,dt,dd,h1,h2,h3,h4,p,form {margin:0px; padding:0px;}
ul {margin:0px; padding:0px; list-style:none;}
a:link,a:visited{color:#dadada;text-decoration: none;}
a:hover,a:active{color:#0287d6;text-decoration:none;}
/*网站头部*/
.inner {position: relative; width: 1280px; margin: 0 auto; overflow:hidden;}
.headers {position: fixed; z-index: 1000; width: 100%; height: 85px; border-bottom:1px solid #7896b7;}
.headers h1 {float: left; width: 600px; height: 85px; margin-top: 20px;}
.headers .nav {float: left; list-style-type: none;}
.headers .nav li {float: left; margin-left: 5px;}
.headers .nav a { display:inline; float: left; padding: 10px 20px; line-height: 64px; color: #7896b7; text-decoration: none; font-family:"微软雅黑"; font-size:18px;}
.headers .nav a:hover { height: 64px; border-bottom: 2px solid #7896b7;}
/*网站主体*/
.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.section .bg img { display: block; width: 100%; height: 100%;}
/*第一屏*/
.section strong { position: absolute; left: 35%; top:30%; z-index: 10; width: 512px; height: 45px; margin-left: -256px; font-size: 24px; font-weight: 500; color: #748A9E; opacity: 0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.section h3 {position: absolute; left:35%; top:35%; z-index: 10; width: 623px; height: 78px; margin-left: -256px; margin-top: 60px; text-indent: -9999px; background-repeat: no-repeat; opacity:0; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.section1 h3 {background-image:url(../images/section1_02.png);}
.uls { position: absolute; left: 35%; top: 45%; width: 510px; margin-left: -255px; margin-top: 130px; font-size: 16px; color: #727F8C; opacity: 0; transition: all 1s;}
.uls li{width:150px; height:auto; border:1px solid #fff; float:left; margin-left:20px; line-height:50px; text-align:center; color:#fff;}
.ulss{ position: absolute; left: 35%; top: 55%; width: 600px; margin-left: -255px; margin-top: 130px; font-size: 16px; color: #727F8C; opacity: 0; transition: all 1s;}
.ulss li{width:150px; height:auto; border:1px solid #fff; float:left; margin-left:20px; line-height:50px; text-align:center; color:#fff;}
/*第二屏*/
#dowebok .section2 .abouts{width: 100%; height: 100%; background:url(../images/section2_bg.jpg) 0 0 repeat-x;}
.abouts_content{width:1280px; height:100%; margin:0 auto;}
.abouts_content .abouts_title { width: 1280px; height: 45px; font-size: 24px; font-weight: 500; color: #748A9E; opacity: 1; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; text-align:center; padding-top:150px;}
.abouts_content p{width:1200px; height:auto; line-height:55px; text-indent:2em; font-size:18px; opacity: 0; transition: all 1s;}
/*第三屏*/
#dowebok .section3 .products{width: 100%; height: 100%; background:url(../images/section3_bg.jpg) 0 0 repeat-x;}
.products_content{width:1280px; height:100%; margin:0 auto;}
.products_content .products_title { width: 1280px; height: 45px; font-size: 24px; font-weight: 500; color: #748A9E; opacity: 1; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; text-align:center; padding-top:150px;}
.pro_con{width:1280px; height:auto; margin-top:40px; opacity: 1; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s;}
.serverMain{overflow:hidden;}
.serverMain li{float:left;width:280px;height:280px;overflow:hidden;background:#000;position:relative;margin-top:20px; margin-left:20px; margin-right:20px;}
.serverMain li .imgs {width:280px; height:240px; overflow:hidden;}
.serverMain li .imgs img{width:280px;height:240px;transition:all .5s;opacity:.8;filter:alpha(opacity=80);}
.serverMain li .font{width:280px;height:40px;color:#fff;font-size:16px; overflow:hidden;}
.serverMain li .font .font-left{width:240px; height:40px; float:left; overflow:hidden;}
.serverMain li .font .font-left p{line-height:40px; padding-left:5px; padding-right:5px;}
.serverMain li .font .font-left span{ font-size:12px; float:right;}
.serverMain li .font .font-right{width:40px; height:40px; background:#515151; float:right;}
.serverMain li:hover .imgs img{transform: scale(1.05, 1.05);}
.serverMain li:hover .font .font-right{background:#018ad8;}
/*第四屏*/
#dowebok .section4 .contacts{width: 100%; height: 100%; background:url(../images/section4_bg.jpg) 0 0 repeat-x;}
.contacts_content{width:1280px; height:100%; margin:0 auto;}
.contacts_content .contacts_title { width: 1280px; height: 45px; font-size: 24px; font-weight: 500; color: #748A9E; opacity: 1; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; text-align:center; padding-top:100px;}
.con_con{width:1280px; height:auto; margin:0 auto; overflow:hidden; opacity: 1; -webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; margin-top:30px;}
.con_maps{width:600px; height:auto; float:left;}
.con_us{width:680px; height:auto; float:right;}
.con_us p{color:#fff; line-height:35px; padding-left:20px;}
.footer{width:1280px; margin-top:50px;}
.footer_nav{width:1280px; height:auto; margin:0 auto; text-align:center;}
.footer_nav a{ padding-left:20px; color:#fafec1;}
.footer_nav p{ margin-top:20px; color:#fff;}

/*固定的悬浮窗*/
/*在线咨询*/
.main-im{position:fixed;right:10px;top:150px;z-index:100;width:110px;height:272px;}
.main-im .qq-a{display:block;width:106px;height:116px;font-size:14px;color:#0484cd;text-align:center;position:relative;}
.main-im .qq-a span{bottom:5px;position:absolute;width:90px;left:10px;}
.main-im .qq-hover-c{width:70px;height:70px;border-radius:35px;position:absolute;left:18px;top:10px;overflow:hidden;z-index:9;}
.main-im .qq-container{z-index:99;position:absolute;width:109px;height:118px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom:1px solid #dddddd;background:url(../images/qq-icon-bg.png) no-repeat center 8px;}
.main-im .img-qq{max-width:60px;display:block;position:absolute;left:6px;top:3px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.main-im .im-qq:hover .img-qq{max-width:70px;left:1px;top:8px;position:absolute;}
.main-im .im_main{background:#F9FAFB;border:1px solid #dddddd;border-radius:10px;background:#F9FAFB;display:none;}
.main-im .im_main .im-tel{color:#000000;text-align:center;width:109px;height:105px;border-bottom:1px solid #dddddd;}
.main-im .im_main .im-tel div{font-weight:bold;font-size:12px;margin-top:6px;}
.main-im .im_main .im-tel .tel-num{font-family:Arial;font-weight:bold;color:#e66d15;}
.main-im .im_main .im-tel:hover{background:#fafafa;}
.main-im .im_main .weixing-container{width:55px;height:47px;border-right:1px solid #dddddd;background:#f5f5f5;border-bottom-left-radius:10px;background:url(../images/weixing-icon.png) no-repeat center center;float:left;}
.main-im .im_main .weixing-show{width:112px;height:172px;background:#ffffff;border-radius:10px;border:1px solid #dddddd;position:absolute;left:-125px;top:-126px;}
.main-im .im_main .weixing-show .weixing-sanjiao{width:0;height:0;border-style:solid;border-color:transparent transparent transparent #ffffff;border-width:6px;left:112px;top:134px;position:absolute;z-index:2;}
.main-im .im_main .weixing-show .weixing-sanjiao-big{width:0;height:0;border-style:solid;border-color:transparent transparent transparent #dddddd;border-width:8px;left:112px;top:132px;position:absolute;}
.main-im .im_main .weixing-show .weixing-ma{width:104px;height:103px;padding-left:5px;padding-top:5px;}
.main-im .im_main .weixing-show .weixing-txt{position:absolute;top:110px;left:7px;width:100px;margin:0 auto;text-align:center;}
.main-im .im_main .go-top{width:50px;height:47px;background:#f5f5f5;border-bottom-right-radius:10px;background:url(../images/toTop-icon.png) no-repeat center center;float:right;}
.main-im .im_main .go-top a{display:block;width:52px;height:47px;}
.main-im .close-im{position:absolute;right:10px;top:-12px;z-index:100;width:24px;height:24px;}
.main-im .close-im a{display:block;width:24px;height:24px;background:url(../images/close_im.png) no-repeat left top;}
.main-im .close-im a:hover{text-decoration:none;}
.main-im .open-im{cursor:pointer;margin-left:68px;width:40px;height:133px;background:url(../images/open_im.png) no-repeat left top;}
.pp{line-height:20px;}

/*动画效果*/
.active strong, .active h3 {opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .uls {opacity: 1; transition-delay: 1.7s;}
.active .ulss {opacity: 1; transition-delay: 1.7s;}
.active .abouts_title { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .abouts_content p{ opacity: 1; transition-delay: 1.7s;}
.active .products_title { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .pro_con { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .contacts_title { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .con_con{opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}

/*IE*/
.ltie10  strong, .ltie10  h3 {opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10  .uls {opacity: 1; transition-delay: 1.7s;}
.ltie10  .ulss {opacity: 1; transition-delay: 1.7s;}
.ltie10  .abouts_title { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10  .abouts_content p{ opacity: 1; transition-delay: 1.7s;}
.ltie10  .products_title { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10  .pro_con { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10  .contacts_title { opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.ltie10  .con_con{opacity: 1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}

/*百度地图*/
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}


/*
**关于我们样式表
*/
/*正文*/
.w_content{width:1280px; height:auto; margin:0 auto;}
.w_content p{ line-height:50px; text-indent:2em;}


/*
**公司产品样式表
*/
/*正文*/
.w_contents{width:1280px; height:auto; margin:0 auto; overflow:hidden;}
.boxs{width:1280px; height:auto; overflow:hidden; padding-bottom:20px; border-bottom:1px solid #eee;}
.boxs_left{width:320px; height:auto; float:left;}
/**/
.strengthMain{overflow:hidden;}
.strengthMain li{float:left;width:290px;height:290px;overflow:hidden;background:#000;position:relative; margin-right:5px; margin-left:5px; margin-top:20px;}
.strengthMain li img{width:290px;height:290px;transition:all .5s;opacity:0.6;filter:alpha(opacity=60);}
.strengthMain li .font{width:290px;height:290px;top:0;left:0;position:absolute;color:#fff;text-align:center;font-size:16px;}
.strengthMain li .font h3{font-size:24px;color:#fff;font-weight:normal;margin-bottom:20px; margin-top:140px;}
.strengthMain li:hover img{transform: scale(1.05, 1.05);}
.strengthMain li .font::before,.strengthMain li .font::after{position:absolute;content:'';opacity:0;transition:all 0.5s;}
.strengthMain li .font::before{top:25px;right:15px;bottom:25px;left:15px;border-top:1px solid #fff;border-bottom:1px solid #fff;transform:scale(0,1);-webkit-transform-origin:0 0;transform-origin:0 0}
.strengthMain li .font::after{top:15px;right:25px;bottom:15px;left:25px;border-right:1px solid #fff;border-left:1px solid #fff;transform:scale(1,0);transform-origin:100% 0;}
.strengthMain li:hover .font::before,.strengthMain li:hover .font::after{opacity:1;transform:scale(1);transition: all 0.5s;}

.boxs_right{width:960px; height:auto; float:right;}
.boxs_right h4{ margin-top:20px;}
.boxs_right  p{ font-size:12px; line-height:30px;}
.boxs_right  p:last-child{ text-align:right; padding-right:20px; }
.boxs_right  p:last-child a{color:#1e54d0;}

/*
**联系我们样式表
*/
.w_content_concat{width:1280px; height:auto; margin:0 auto; overflow:hidden; background:url(../images/maps_bg.jpg) repeat; margin-top:30px; padding:10px 10px 10px 10px;}
.w_content_concat .con_maps{width:600px; height:auto; float:left;}
.w_content_concat .con_us{width:680px; height:auto; float:right;}
.w_content_concat .con_us p{color:#000; line-height:35px; padding-left:20px;}